@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
h1
{
    font-weight: 600;
}
/* Title Section */
.navbar
{
    padding: 1rem 2rem;
}
.navbar-brand
{
    width: 100px;
}
.nav-item
{
    font-weight: 600;
    padding: 0 1rem;
}

.get-started-button
{
    width: 10rem;
}
.banner-row
{
    padding: 2rem 0;
    padding-bottom: 10rem;
    
}
.banner-img
{
    width: 80%;
}
.title
{
    background-image: url('assets/bg-curve-desktop.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width:450px) {
    .navbar-nav
    {
        display: flex;
        flex-direction: row;
        width: 70vw;
    }   
}



/* Info Section */
.info-section
{
    padding: 3rem 0;
    background-color: hsl(240, 75%, 98%);
}
#info-img
{
    width: 80%;
}
.info-row 
{
    gap: 3rem;
}
#woking-link
{
    color: green;
}
.fa-circle-arrow-right
{
    color: green;
}


/* Testimonial Section */
.box
{
    width: 30vw;
    padding: 2rem 3rem;
    background-color: white;
    border-radius: 10px;
    margin: 2rem 0;
}
#avathar-img
{
    border-radius: 50%;
    width: 50px;
    height: fit-content;
}
h5
{
    font-size: 20px;
    font-weight: 600;
}
.box-profile
{
    display: flex;
    gap: 1rem;
}


/* Newsletter Section */
.newsletter
{
    padding: 3rem 0;
    background-color: hsl(238, 22%, 44%);
    color: white;
}
h3
{
    font-weight: 600;
}
p
{
    opacity: .9;
}
.news-row
{
    gap: 2rem;
}
.form-control
{
    border: none;
}


/* Footer section */

footer
{
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 3rem 4rem;
}
footer a
{
    text-decoration: none;
    color: white;
}
.brand-footer
{
    
}
.menu-footer
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
